body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  background-image: url('IMG/imgBackground 1.png');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  height: 970px;
}

.container2 {
  width: 1920px;
  margin: 0 auto;
}

.container {
  padding: 35px 120px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-main-menu {
  margin: auto;
  width: 305px;
  height: 18px;
}

.head-main-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.head-main-menu ul li {
  margin: 0 15px;
  cursor: pointer;
  color: #FFF;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  -webkit-text-stroke: 0.3px black;
}

.burger-menu {
  width: 30px;
  height: 2px;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  border: 0;
  background-color: #F5F5F5;
}

.burger-menu::before,
.burger-menu::after {
  content: '';
  display: block;
  width: 30px;
  height: 2px;
  background-color: #F5F5F5;
  position: absolute;
}

.burger-menu::before {
  top: -8px;
  left: 0px;
}

.burger-menu::after {
  top: 8px;
  left: 0px;
}

.main-header-part h1 {
  font-family: Playfair Display;
  font-size: 70px;
  width: 830px;
  height: 190px;
  line-height: 95px;
  text-align: left;
  margin-top: 145px;
}

.main-header-part p {
  font-family: Montserrat;
  text-align: left;
  font-size: 25px;
  width: 415px;
  height: 90px;
  line-height: 45px;
  margin-top: 50px;
}

.main-header-part-section {
  display: flex;
  align-items: center;
  text-align: left;
}

.main-header-part-section button {
  margin-top: 55px;
  width: 335px;
  height: 75px;
  border-radius: 38px;
  font-family: Montserrat;
  font-size: 20px;
  background-color: #DD9428;
  line-height: 24.38px;
  text-align: center;
  cursor: pointer;
}

.icon-play {
  display: flex;
  align-items: center;
}

.icon-play img {
  height: 75px;
  width: 75px;
  padding-right: 20px;
  padding-top: 55px;
  padding-left: 90px;
  cursor: pointer;
}

.icon-play p {
  width: 104px;
  height: 78px;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 26px;
  color: #A1A8B6;
  margin-bottom: 0px;
  line-height: 26px;
}

.social-header {
  text-align: left;
  margin-top: 130px;
  width: 330px;
}

.social-header p {
  font-size: 17px;
  line-height: 17.07px;
  font-family: Montserrat;
}

.social-header a {
  margin-right: 60px;
}

.last-header-part {
  display: flex;
}

.many-img-header {
  display: flex;
  margin-left: 400px;
}

.one-img-header {
  margin-right: 27px;
  position: relative;
}


.one-img-header p,
.one-img-header h3,
.one-img-header a {
  position: absolute;
  color: white; 
}

.one-img-header p {
  top: 6%; 
  left: 12%; 
  transform: translate(-50%, -50%); 
  font-family: Playfair Display;
  font-size: 25px;
}

.one-img-header h3 {
  bottom: 10px; 
  left: 19%; 
  transform: translateX(-50%); 
  width: 58px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
}

.one-img-header a {
  bottom: 25px; 
  right: 15%; 
  transform: translateX(50%); 
}

